@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.logo {
  width: 56px;
  height: 56px;
}

/* .title {
  margin-top: 1.5rem;
  font-weight: 700;
  padding-bottom: 1rem;
} */

.box-social-media {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  justify-content: center;
  margin: 1.5rem 0;
}
.button-media {
  display: flex;
  padding: 1rem;
  width: 100%;
  column-gap: 1rem;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #8c8c8c;
  border-radius: 8px;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
}

.icon-media-gmail {
  width: 20px;
  height: 20px;
}
.icon-media-facebook {
  width: 24px;
  height: 24px;
}

.form-check-input {
  margin: 0;
  height: 20px;
  width: 20px;
  border: #8c8c8c solid 2px;
}

.form-check-input:checked {
  background-color: #28a745;
  border-color: #28a745;
}
.form-check-input:focus {
  box-shadow: none;
  cursor: pointer;
}

.create {
  padding-left: clamp(2rem, 5vw, 8rem);
  padding-right: clamp(2rem, 5vw, 8rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box-image {
  display: none;
  flex-direction: column;
  height: 100vh;
  background-image: url("../public/assets/capa-login1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4.8rem 3rem;
  justify-content: end;
  color: white;
}
.box-image h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5;
}
.box-image p {
  font-size: 20px;
  font-weight: 300;
  padding-top: 1rem;
}

.button-login {
  border: none;
  width: 100%;
  background-color: #f8475e;
  color: #ffffff;
  padding: 1rem 0;
  font-weight: 500;
  font-size: 1.25rem;
  border-radius: 0.25rem;
}
.button-login:hover {
  background-color: #df3f54;
}

.remember-me {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0;
}
.remember-me p {
  color: #2ec0c2;
  font-weight: 500;
}
.remember-me p:hover {
  color: #29acad;
  font-weight: 500;
  cursor: pointer;
}

.account {
  text-align: center;
  padding: 1rem 0;
}

.account span {
  color: #29acad;
  font-weight: 600;
  cursor: pointer;
}

.link {
  text-decoration: none;
}

@media (min-width: 576px) {
  .box-social-media {
    flex-direction: row;
    column-gap: 1rem;
  }
    /* .title {
      margin-top: 2.5rem;
    } */
}
@media (min-width: 992px) {
  .box-image {
    display: flex;
  }
}
